[Unit]
Description=1Password
After=graphical-session.target

[Service]
ExecStart=/usr/bin/1password --silent
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
