[core]
	editor = nvim
[user]
	email = arthurvdinizs@gmail.com
	name = Arthur Diniz
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGHh2/DfPI+gJl2hEIh4hak/CdfISyrdKvrkSIthWkUD
[init]
	defaultBranch = main
[push]
  autoSetupRemote = true
[pull]
  rebase = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgSign = true
