[core]
	editor = nvim

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[gpg]
	format = ssh

[commit]
	gpgsign = true

[tag]
	gpgSign = true

# Include local configuration (user info, signing keys)
# This file is not tracked and should be created during installation
[include]
	path = ~/.gitconfig.local
